// ==========================================================================
// Map Viewer
// ==========================================================================

.mapViewer
    &-container
        position: absolute
        width: 100%
        height: 1000%