// ==========================================================================
// Timeline
// ==========================================================================

.timeline
    &-label
        position: relative

    &-label:after
        content: ''
        position: absolute
        top: 100%
        left: 50%
        width: 0px
        height: 30px
        border-left: 1px solid #000
