// ==========================================================================
// Timeline
// ==========================================================================

.timeline
    // position: absolute
    // top: 20px
    // right: 20px
    width: 400px
    // z-index: 12 /* magic */
    &-label
        position: relative
        color: #fff
        font-family: $font-family-base
        font-size: $font-size-base
        font-weight: $font-weight-base
        color: $font-color-default
    &-label:after
        content: ''
        position: absolute
        top: 100%
        left: 50%
        width: 0px
        height: 15px
        border-left: 1px solid #FFF