<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zürich Population</title>
    <link rel="stylesheet" href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:700,600,200,300,400,500,100' rel='stylesheet' type='text/css'>
</head>
<body>
    <div ng-app="zuriPopApp">
        <main class="main">
            <header class="header">
                <h1 class="header-title">Zurich Population</h1>
                <nav class="scenarioNav" style="position:absolute; z-index: 10;">
                    <span class="scenarioNav-btn" ng-click="switchMode('default')"  ng-class="{'active': state.mode == 'default'}">Geschichte</span>
                    <span class="scenarioNav-btn" ng-click="switchMode('scenario')" ng-class="{'active': state.mode == 'scenario'}">Scenario</span>
                    <br>

                    <span class="scenarioNav-btn" ng-click="zoom(20)">+</span>
                    <span class="scenarioNav-btn" ng-click="zoom(-20)">-</span>
                    <br>
                    <input type="range" min="{{state.maxYearLimit+1}}" max="{{state.maxYear}}" step="1" ng-show="state.mode =='scenario'" ng-model="state.scenarioSlider" size="30" />
                </nav>
            </header>
            <!-- <div globe globe-year="year" class="mapViewer"></div> -->
            <aside class="sidebar" ng-class="{'is-hidden': state.hideSidebar}">
                <div class="timeline">
                    <timeline></timeline>
                </div>
                <div class="region">
                    <div class="region-info">
                        <h2 class="region-title">{{ getGemeindeName() }}</h2>
                        <div class="region-detail">
                            <dl class="margins-removed">
                                <dt>Bevölkerung</dt>
                                <dd>{{ getTotalPopulation() }}</dd>
                                <dt>Dichte</dt>
                                <dd>{{ getTotalPopulationDenisty() }} Pers./KM²</dd>
                                <dt>Zunahme</dt>
                                <dd><i class="icon icon-arrow-up"></i>{{ getTotalPopulationIncreasePercentage() }} % / {{ getTotalPopulationIncreasePersons() }} Pers.</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="region-map">
                    <br><br>
                        <select ng-model="state.gemeindeId" ng-options="gemeinde.GDENR as gemeinde.GDENAME for gemeinde in data.gemeindeList | orderObjectBy:'GDENAME':false">
                          <option value="">-- Gemeinde wählen --</option>
                        </select>
                    </div>
                    <div class="region-chart chart">
                        <h3 class="chart-title">Flächenverteilung</h3>
                        <div class="chart-container">
                            <donut-area donutData="data.areaData"></donut-area>
                        </div>
                    </div>
                    <div class="region-chart chart">
                        <h3 class="chart-title">Wohnungsverteilung</h3>
                        <div class="chart-container">
                            <donut-whg donutData="data.whgData"></donut>
                        </div>
                    </div>
                </div>
                <div class="icon-btn icon-btn--br icon-btn--arrow" ng-click="state.hideSidebar = !state.hideSidebar"></div>
            </aside>
            <footer class="footer">
                <span class="footer-info">ZHdK 2014</span>
                <span class="footer-info"><b class="footer-info--label">Source</b> Statistisches Amt des Kt. Zürich, Hektardaten Bev. 2010/BA für Statistik, eidg. Volkszählungen 1990 und 2000</span>
            </footer>
        </main>
    </div>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>