// ==========================================================================
// Base
// ==========================================================================

html
    height: 100%
    background: $black
    @include background-image(linear-gradient(to bottom, #111, #222))

body

    font-family: $font-family-base
    font-size: $font-size-base
    font-weight: $font-weight-base
    color: $font-color-default

main
    padding-right: $sidebar-width

aside
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: $sidebar-width
