// ==========================================================================
// Base
// ==========================================================================

html
    height: 100%
    background: $black
    @include background-image(linear-gradient(to bottom, rgb(54,81,110), rgb(0,38,51)))

body

    font-family: $font-family-base
    font-size: $font-size-base
    font-weight: $font-weight-base
    color: $font-color-default

main
    padding-right: $sidebar-width

.scenarioNav
    &-btn
        display: inline-block
        cursor: pointer
        padding: 15px
        margin-bottom: 20px
        min-width: $line-height-computed
        text-align: center
        color: #fff
        background: rgba(20, 20, 20, 0.7)

        &.active
            background: rgba(92,219,73, 0.9)// #4f9431


.icon-btn
    display: block
    width: 50px
    height: 50px
    background: url('../media/icons/button-info.svg') no-repeat center center
    background-size: 100% 100%

    &--br
        position: absolute
        bottom: 20px
        left: -70px

    &--arrow
        background: url('../media/icons/button-arrow.svg') no-repeat center center


.chart-title
    @include font-base-bold()
    font-weight: 400
    margin-top: 40px