// ==========================================================================
// Base
// ==========================================================================

html
    height: 100%
    background: $black
    @include background-image(linear-gradient(to bottom, rgb(54,81,110), rgb(0,38,51)))

body

    font-family: $font-family-base
    font-size: $font-size-base
    font-weight: $font-weight-base
    color: $font-color-default

b
    font-weight: $font-weight-bold

main
    padding-right: $sidebar-width



.icon-btn
    display: block
    width: 50px
    height: 50px
    background: url('../media/icons/button-info.svg') no-repeat center center
    background-size: 100% 100%

    &--br
        position: absolute
        bottom: 20px
        left: -70px

    &--slider
        width: 35px
        height: 35px
        display: inline-block

    &--arrow
        background: url('../media/icons/button-arrow.svg') no-repeat center center

    &--house-1
        background: url('../media/icons/button-house-1.svg') no-repeat center center
        top: -8px
        position: relative

    &--house-2
        background: url('../media/icons/button-house-2.svg') no-repeat center center
        top: -8px
        position: relative

    &--pop-1
        background: url('../media/icons/button-pop-1.svg') no-repeat center center
        top: -10px
        position: relative

    &--pop-2
        background: url('../media/icons/button-pop-2.svg') no-repeat center center
        top: -10px
        position: relative

.scenarioNav
    &-btn
        display: inline-block
        cursor: pointer
        padding: 15px
        margin-bottom: 20px
        min-width: $line-height-computed
        text-align: center
        color: #fff
        background: rgba(20, 20, 20, 0.7)

        &.active
            background: rgba(92,219,73, 0.9)// #4f9431

    &-slider
        width: 400px
        height: 20px
        display: inline-block
        padding: 15px
        margin-bottom: 20px
        margin-right: 20px
        background: rgba(20, 20, 20, 0.7)
        float: left
        & > *
            display: inline-block

    &-rangeSlider
        width: 79%
        position: relative
        top: -17px

.header
    min-width: 300px

.chart-title
    @include font-base-bold()
    font-weight: 400
    margin-top: 40px

.intro-message
    font-size: $font-size-h1
    font-weight: $font-weight-headings
    line-height: $line-height-headings+0.2
    text-align: center
    display: block
    width: 100%
    position: absolute
    top: 50%
    margin-top: -($font-size-h1*$line-height-headings*4)

// --- ng-show/hide

.fade
    -webkit-transition: 0.5s linear all
    -moz-transition: 0.5s linear all
    -o-transition: 0.5s linear all
    transition: 0.5s linear all
    opacity: 1

.fade.ng-hide
    opacity: 0

// --- ng-if

.fade.ng-enter, .fade.ng-move
    -webkit-transition: 0.5s linear all
    -moz-transition: 0.5s linear all
    -o-transition: 0.5s linear all
    transition: 0.5s linear all
    opacity: 0


.fade.ng-enter.ng-enter-active,
.fade.ng-move.ng-move-active
    opacity: 1

.fade.ng-leave
    -webkit-animation: 0.5s fade
    -moz-animation: 0.5s fade
    -o-animation: 0.5s fade
    animation: 0.5s fade

@keyframes fade
    from
        opacity: 1
    to
        opacity: 0


@-webkit-keyframes fade
    from
        opacity: 1
    to
        opacity: 0

@-moz-keyframes fade
    from
        opacity: 1
    to
        opacity: 0

@-o-keyframes fade
    from
        opacity: 1
    to
        opacity: 0