// _variables.scss
// =================

// @import "font-url";
 
$black          : #000000;
$lightBlack     : #111111;
$forest         : #4eb93e;
$buildings      : #aaaaaa;
$water          : #2c5c85;

$headFont : '-', sans-serif;
$bodyFont : '-', sans-serif;