// _variables.scss
// =================

// @import "font-url"

$black          : #000000
$lightBlack     : #111111
$forest         : #4eb93e
$buildings      : #aaaaaa
$water          : #2c5c85

$font-family-default            : 'Exo 2', 'Exo', sans-serif
$font-family-headings           : $font-family-default
$font-family-body               : $font-family-default


$font-size-base                 : 16px
$font-size-body                 : $font-size-base

$font-weight-base               : 200
$font-weight-body               : $font-weight-base
